/* Базовые стили -- сброс */

body, html
{
    margin: 0;
    padding: 0;
}

html
{
    background: #f3f2f0 url(/img/bg.jpg);
}

body
{
    font: 10px/1.4 Helvetica,sans-serif;

    max-width: 1140px;
    margin: 0 auto;
}

/* Шапка */

header
{
    margin-bottom: 3em;
    padding: 0 0 0 2%;

    vertical-align: middle;
}

.b-head-logo
{
    position: relative;

    font-size: 200%;
    line-height: 90%;

    width: 98px;
    height: 20px;
    padding: 50px 0 0 2px;

    height: 50px;

    display: inline-block;
    vertical-align: middle;

    background: red;
    color: #fff;
}

.b-head-logo2
{
    position: relative;

    font-size: 200%;
    line-height: 90%;

    margin-left: 15px;

    float: left;

    display: inline-block;
    vertical-align: middle;

    color: #fff;
}

.b-head-logo__text
{
    position: absolute;
    bottom: 0;
}

.b-head-description
{
    font-size: 200%;
    font-weight: normal;

    position: relative;

    vertical-align: middle;

    padding: 10px;
    margin: 1em 20px 1em 150px;

    overflow: hidden;

    border: 5px solid #e7e0d3;
    color: #223035;
    background: #fff;
    -webkit-filter: drop-shadow(0 0 5px rgba(59, 59, 59, 0.3));
    filter: drop-shadow(0 0 5px rgba(59, 59, 59, 0.3));
}
.b-head-description_type_smaller
{
    border: 0;
    box-shadow: 0 0 4px #bbb;
}
.b-head-description_type_smaller.b-head-description:before,
.b-head-description_type_smaller.b-head-description:after
{
    display: none;
}

.b-head-description__location
{
    text-decoration: none;
    color: red;
}

.b-head-description__location:hover
{
    text-decoration: underline;
}

.b-head-description_triangle_left
{
  margin-left: 30px;
}

.b-head-description:before,
.b-head-description:after
{
    content: "";
    position: absolute;
    bottom: auto;

    border-style: solid;
}

.b-head-description_triangle_left:before
{
    top: 10px;
    left: -25px;

    border-width: 25px 25px 25px 0;
    border-color: transparent #e1e1e1;
}

.b-head-description_triangle_left:after
{
    top: 17px;
    left: -17px;

    border-width: 18px 18px 18px 0;
    border-color: transparent #fff;
}
.b-head-description_type_smaller.b-head-description_triangle_left:after
{
    top: 17px;
    left: -17px;
    border-width: 23px 23px 23px 0;
}

.b-navi-link
{
    position: fixed;
    top: 50%;
    z-index: 1;

    width: 130px;
    height: 130px;
    margin-top: -50px;

    overflow: hidden;
}
.b-navi-link__arrow
{
    position: relative;
    padding: 40px;

    transition: all 0.25s ease-out;

    background: #888;
    opacity: 0.3;
}

.b-navi-link:hover .b-navi-link__arrow
{
    opacity: 0.7;
}
.b-navi-link_type_prev
{
    left: 0;
}

.b-navi-link_type_prev .b-navi-link__arrow
{
    left: -30px;

    border-radius: 0 500px 500px 0;
}
.b-navi-link_type_prev:hover .b-navi-link__arrow
{
    left: -20px;
}

.b-navi-link_type_next
{
    right: 0;
}
.b-navi-link_type_next .b-navi-link__arrow
{
    right: -30px;

    border-radius: 500px 0 0 500px;
}
.b-navi-link_type_next:hover .b-navi-link__arrow
{
    right: -20px;
}


/* Содержимое */
.b-next-event
{
    font-size: 480%;
    font-weight: bold;

    text-align: center;

    text-shadow: 0 1px 1px #fff;
    color: #333;
}

.b-next-event img
{
    opacity: 0.4;
}

.b-meetup-place
{
    font-size: 280%;
    font-weight: bold;

    text-align: center;

    text-shadow: 0 1px 1px #fff;
    color: #333;
}

.b-igo
{
    margin: 3em 0 6em 0;

    text-align: center;

}

.b-igo__link
{
    position: relative;
    font-size: 350%;

    padding: 12px 120px 7px;

    text-decoration: none !important;
    text-shadow: 0 -1px #940219;

    color: #fff;
    background-color: #f00;
    background-image: -webkit-linear-gradient(top, #f00, #db0e12);
    background-image:    -moz-linear-gradient(top, #f00, #db0e12);
    background-image:     -ms-linear-gradient(top, #f00, #db0e12);
    background-image:      -o-linear-gradient(top, #f00, #db0e12);
    background-image:         linear-gradient(to bottom, #f00, #db0e12);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45), 0 2px 1px 1px rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45), 0 2px 1px 1px rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45), 0 2px 1px 1px rgba(255, 255, 255, 0.5) inset;
    border-radius: 50px;

}
.b-igo__link:after
{
    position: absolute;
    left: -8px;
    right: -8px;
    top: -8px;
    bottom: -8px;
    z-index: -1;

    content: '';

    display: block;

    background: #692a00;
    opacity: 0.1;
    border-radius: inherit;
}

.b-igo__link:hover
{
    background-color: #db0e12;
    background-image: -webkit-linear-gradient(top, #f00, #db0e12 70%);
    background-image:    -moz-linear-gradient(top, #f00, #db0e12 70%);
    background-image:     -ms-linear-gradient(top, #f00, #db0e12 70%);
    background-image:      -o-linear-gradient(top, #f00, #db0e12 70%);
    background-image:         linear-gradient(to bottom, #f00, #db0e12 70%);
}

.b-igo__link:active
{
    top: 1px;
    -webkit-box-shadow: 0 0 6px 0 rgba(73, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 0 6px 0 rgba(73, 0, 0, 0.3) inset;
    box-shadow: 0 0 6px 0 rgba(73, 0, 0, 0.3) inset;
}

/* Спикеры */
.b-speakers
{
    margin-top: 2em;
}

.b-speaker
{
    position: relative;

    font-size: 160%;

    display: inline-block;
    vertical-align: top;

    width: 30%;
    min-height: 320px;
    padding: 10px;
    margin: 0 0 2% 2.5%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    background: #f8f5f0;
    border: 10px solid #fff;
    /*-webkit-box-shadow: 1px 1px 10px #ABABAB;*/
    /*-moz-box-shadow: 1px 1px 10px #ABABAB;*/
    /*box-shadow: 1px 1px 10px #ABABAB;*/

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.05) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.05) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.05) inset;
}

.b-speakers_view_presentations .b-speaker
{
    width: 47%;
    min-height: 1000px;
}

.b-speakers_view_big .b-speaker
{
    width: auto;
    margin-right: 0;
    min-height: auto;

    display: block;
}

.b-speaker__photo
{
    float: left;
}
.b-speaker__talk-info-combined
{
    overflow: hidden;

    padding-left: 30px;
}


.b-speaker__data
{
    padding: 20px 90px 0 0;
}
.b-speaker__presentation
{
    width: 500px;
}

.b-speaker:before,
.b-speaker:after {
    content:"";
    position:absolute;
    z-index:-2;
}

.b-speaker:before,
.b-speaker:after {
    bottom:10px;
    left:5px;
    width:50%;
    height:20%;
    max-width:4000px;
    max-height:2000px;
    -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
       -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
            box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
        -ms-transform:rotate(-3deg);
         -o-transform:rotate(-3deg);
            transform:rotate(-3deg);
}

.b-speaker:after {
    right:5px;
    left:auto;
    -webkit-transform:rotate(3deg);
       -moz-transform:rotate(3deg);
        -ms-transform:rotate(3deg);
         -o-transform:rotate(3deg);
            transform:rotate(3deg);
}

.b-speaker__talk
{
    font-size: 1.5em;
    font-weight: bold;

    margin-bottom: .6em;

    text-shadow: 0 1px 1px #fff;
    color: #333;
}

.b-speaker__person
{
    font-weight: bold;
    margin-bottom: 1em;
}

.b-speaker__link
{
    text-decoration: none;
    color: red;
}

.b-speaker__link:hover
{
    text-decoration: underline;
}

.b-speaker_type_empty
{
    border: 5px dashed rgba(255, 255, 255, 0.7);
}

.b-speaker_type_empty,
.b-speaker_type_empty .b-speaker__talk,
.b-speaker_type_empty .b-speaker__person
{
    color: #888;
}

.b-about
{
    margin: 0 3% 5em;
}

.b-header,
.b-about__header
{
    font-size: 300%;

    margin-bottom: 0.5em;

    text-shadow: 0 1px 1px #fff;
}

.b-about__description
{
    font-size: 160%;
    line-height: 1.5;
}

/* Подвалище */
footer
{
    font-size: 160%;

    margin: 10px auto;
    padding: 20px 0;

    border-top: 1px solid #000;
}

.b-footer-block
{
    display: inline-block;
    vertical-align: top;

    width: 30%;
    padding: 10px;
    margin: 0 0 2% 2%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.b-footer-block__title
{
    font-weight: bold;

    margin-bottom: 1em;
}

.b-footer-block__description
{
    margin-bottom: 0.5em;
}

.b-footer-block__link
{
    text-decoration: none;
    color: red;
}

.b-footer-block__link:hover
{
    text-decoration: underline;
}

a
{
    color: red;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.l-page-padding
{
    padding: 0 3%;
}

.b-timetable__item
{
    font-size: 200%;
    line-height: 1.3;

    overflow: hidden;

    margin-top: 2em;
    margin-bottom: 2em;
}

.b-timetable__time
{
    width: 20%;
    float: left;
}

.b-timetable__action
{
    width: 80%;
    float: left;
}

.b-timetable__people
{
    font-size: 80%;

    margin-top: 0.5em;
}


.shout-page
{
    height: 100%;
}

body.shout-page
{
    display: table;
}
.b-shout
{
    display: table-cell;

    font-size: 175px;
    line-height: 200px;

    text-align: center;
    vertical-align: middle;
}
