/* Базовые стили -- сброс */

body, html
{
    margin: 0;
    padding: 0;
}


html
{
    /*background: url('../img/ekb.jpg') 50% -300px no-repeat fixed #004e64;*/
    height: 100%;
}
html.meetup
{
    background: url('/img/meetup.jpg') 50% -300px no-repeat fixed #000;
}
html.dump
{
    background: url('/dumpback.jpg') 50% -300px no-repeat fixed #000;
}

body
{
    font: 10px/1.4 'PT Sans', Helvetica, sans-serif;

    height: 100%;
}

a {
    color: #000;
    opacity: 1;
}

a:hover
{
    opacity: 0.8;
}


nav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    font-size: 30px;
    font-family: Arial, sans-serif;
}

nav:before {
    height: 100%;
    display: inline-block;
    content: '';
    width: 1px;
    vertical-align: middle;
}
nav .wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

nav:after {
    display: inline-block;
    vertical-align: middle;
    content: '>';

    font: 50px 'PT Sans', Helvetica, sans-serif;
}

.menu-item .year {
    margin-top: 20px;
    font-size: 75%;

    display: block;
}


.title:before {
    height: 100%;
    display: inline-block;
    content: '';
    width: 1px;
    vertical-align: middle;
}
.title__wrapper {
    font-size: 100%;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.title {
    background: url('../img/ekb.jpg');
    font-size: 55px;
    position: relative;
    line-height: 100%;
    font-weight: bold;
    color: #fff;

    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    height: 100%;
    min-height: 800px;
    margin: 0 auto;
    white-space: nowrap;
}

.content-wrapper
{
    /*background: rgba(0,0,0,0.8);*/
}

.content-wrapper__inner
{
    min-width: 960px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 20px 0;
}


.title__registration {
    font-size: 18px;
    position: absolute;
    bottom: 25px;

    width: 750px;
    left: 50%;
    color: #fff;
    margin: 0 auto 50px -375px;
}
.title__register {
    font-size: 40px;
    display: block;
    padding: 20px 0 16px;
    text-transform: none;
    text-decoration: none;
    color: #fff;

    border: 1px solid #fff;
}
.title__register:hover
{
    background: rgba(255, 255, 255, 0.2);
    opacity: 1;
}
.title__tickets
{
    font-weight: normal;
    font-family: Arial;
    text-transform: none;
    color: #fff;
}

.title__logo {
    display: inline-block;
    vertical-align: middle;
    padding: 25px;

    background: rgba(255,255,255,0.8);
    border-radius: 50%;
}

.title__logo img {
    display: block;
    margin-bottom: 10px;
}

.title__text {
    display: inline-block;
    width: 7em;
    vertical-align: middle;
}

.title__text:first-of-type {
}
.meetup .title__registration,
.meetup .title__text
{
    text-shadow: 0 0 6px #000;
}

.social {
    width: 100%;
    font-size: 15px;
    padding: 50px 0 50px;

    text-align: center;
}
.social__wrapper
{
    margin-bottom: 20px;
}
.social-link
{
    margin: 0 20px;
    opacity: 0.8;
}
.social-link:hover
{
    opacity: 1;
}

.last-year
{
    text-align: center;

    font-size: 40px;
    margin: 40px 0;
}
.previous-events
{
    text-align: left;

    font-size: 40px;
    margin: 60px 0 40px 150px;
}
.previous-events h2
{
    margin: 0 0 20px;
}
.previous-events ul 
{
    font-size: 25px;
    margin: 0;
    padding: 0;
}
.previous-events ul li
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.place h2,
.programm h2,
.friends h2
{
    font-size: 60px;
    text-align: center;
}

.place {
    font-size: 20px;
    width: 100%;
    overflow-x: hidden;
}
.place strong {
    font-size: 120%;
}
.place > ymaps
{
    float: right;
    clear: both;
}
.programm
{
    font-size: 14px;
}
.b-timetable__talk-title
{
    font-size: 120%;
}
.b-timetable__item
{
    font-size: 200%;
    line-height: 1.3;

    overflow: hidden;

    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 15%;
}
.b-timetable_after_event .b-timetable__item
{
    margin-bottom: 4em;
    padding-left: 0;
}

.b-timetable__time
{
    font-size: 120%;
    position: relative;
    line-height: 1.3;
    width: 10%;
    float: left;
    margin-left: -15%;
}
.b-timetable_after_event .b-timetable__time
{
    display: none;
}

.b-timetable__speaker-foto
{
    width: 142px;
    float: right;
}
.b-timetable_after_event .b-timetable__speaker-foto
{
    float: left
}

.b-timetable__action
{
    width: 80%;
    float: left;
}

.b-timetable__people2
{
    margin-top: 0.5em;
}

.b-timetable__video iframe
{
    max-width: 100%;
}
.b-timetable__video-and-presentation
{
    clear: both;
    white-space: nowrap;
    margin-top: 1em;

    background: #000;
}
.b-timetable__talk
{
    padding-bottom: 1em;
}
.b-timetable__video-and-presentation .b-timetable__video
{
    display: inline-block;
    vertical-align: top;
}
.b-timetable__video-and-presentation .b-timetable__presentation
{
    display: inline-block;
    vertical-align: top;
    width: 422px;
}

.b-timetable__people,
.b-timetable__presentation-link
{
    font-size: 80%;

    margin-top: 0.5em;
}
.b-timetable__description
{
    font-size: 18px;

    margin-top: 1.5em;
}


.friends {
    text-align: center;
}
.friends a {
    vertical-align: top;
    line-height: 150px;
    display: inline-block;
    margin-right: 10px;
    opacity: 0.8;
}
.friends a:hover {
    opacity: 1;
}
.friends img {
    vertical-align: middle;
}
